

	<div class="top_nav">	
		<div class="top_nav-right">
			<ul class="nav nav-pills ">
				<li class="nav-item">
	   				<a class="nav-link active" style="background-color: #A9A9A9;" routerLink="/index" routerLinkActive="active" >Home</a>
	  			</li>
	  			
	  			
	  			
			</ul>
		</div>
		
	</div>

	
	
	    <div class="big_image">
	    	<img src="assets/image/big_image.jpg" alt="big image" width="100%" height="400px">
	    	<div class="text_over_image">
			    <div>Welcome to Hospital Management System</div>
			</div>
	    	
	    </div>
	
    <div class="images">

    	<div class="image" style="margin-left: 20px;margin-right: 20px;">
    		<img src="assets/image/admin.jfif" alt="Admin"  class="image1">
    		<div class="middle">
			    <div class="text">
			    	<a routerLink="/adminPages" routerLinkActive="active" style="text-decoration: none;">Admin</a>
				</div>
			</div>    		
		</div>



    	<div class="image " style="margin-left: 20px;margin-right: 20px;" > 
    		<img src="assets/image/patient.png" alt="Patient" class="image1">
    		<div class="middle">
			    <div class="text">
			    	<a routerLink="/patientPages" routerLinkActive="active" style="text-decoration: none;">Patient</a>
			    </div>
			    	
			</div>
    	</div>
    	
    </div>


