<div>
  <div>

    <form action="#" method="POST">
        <a routerLink="/adminPages" routerLinkActive="active" >Home</a>
        <h1>Add Patient</h1>
        <table>
            <tr><td>Name:</td><td><input type="text" name="name" placeholder="Name"></td></tr>
            <tr><td>Patient ID:</td><td><input type="text" name="pid" placeholder="Patient Id"></td></tr>
            <tr><td>Address</td><td><input type="text" name="address" placeholder="Address"></td></tr>
            <tr><td>Contact No</td><td><input type="text" name="contact" placeholder="Contact number"></td></tr>
            <tr><td>Doctor ID:</td><td><input type="text" name="did" placeholder="Doctor Id"></td></tr>
            <tr><td>Password:</td><td><input type="password" id="password" placeholder="Password"></td></tr>
            <tr>
                <td>Dieases history</td>
                <td>Diease</td>
                <td>Doctor Name</td>
                <td>Doctor Id</td> 
                <td></td>
                <td>Start Date</td>
                <td></td>
                <td>End Date</td>
                <td>Total Bill Amount</td>
                <td>Paid Amount</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="text" name="diease"></td>
                <td>
                    <select name="Doctor">
                        <option value="dr1">dr1name</option>
                        <option value="dr2">dr2name</option>
                    </select>
                </td>
                <td><input type="text" name="did"></td>
                <td></td><td><input type="date" name="Sdate" ></td>
                <td></td><td><input type="date" name="Edate" ></td>
                <td><input type="text" name="total"></td>
                <td><input type="text" name="paid"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="addmore" value="AddMore"></td>
            </tr>
            
           <tr>
            </tr>
            <tr>
                <td>
                    <input type="reset" name="cancle" value="Cancle">  
                </td>
                <td>
                    <input type="submit" name="add" value="Add">  
                </td>
            </tr>
        </table><br><bR>
        
    </form>

  </div>
</div>