<div class="top_nav">   
        <div class="top_nav-right">
            <ul class="nav nav-pills ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/index" routerLinkActive="active" >Home</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/registration" routerLinkActive="active"  >Sign Up</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link  " routerLink="/profile" routerLinkActive="active" href="profile.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/login" routerLinkActive="active"  href="login.html">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  routerLink="/logout" routerLinkActive="active" href="logout.html" class="active">Logout</a>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="sidenav">

        <ul  class="nav nav-pills nav-stacked">
            
            <li  class="active" style="background-color:rgb(0, 139, 139); width: 100%;" ><a routerLink="/viewAssignedPatients" routerLinkActive="active">View Assigned Patinets</a></li>
            
           
        </ul>
                
    </div>

	<div class="container">
         <h1 style="text-align: center; ">View Assigned Patinets</h1>
        
        <table>
            <tr>
                <td>Doctor Id :</td>
                <td class="high"><input type="text" name="pid" required></td>
            </tr>
                
           
            
            
            <tr>
                <!-- <td></td> -->
                <td><a href="#"><button class="submit">Search</button></a></td>
            </tr>
        </table>
    </div>