
<div class="top_nav">	
		<div class="top_nav-right">
			<ul class="nav nav-pills ">
				<li class="nav-item">
	   				<a class="nav-link"  routerLink="/index" routerLinkActive="active" >Home</a> 
	  			</li>
	  			<li class="nav-item">
	    			<a class="nav-link" routerLink="/managePatients" routerLinkActive="active"  >Patients</a>
	  			</li>
				<li class="nav-item">
		    		<a class="nav-link"  routerLink="/manageDoctors" routerLinkActive="active"   >Doctors</a>
				</li>
	  			
	  			<li class="nav-item">
	   				<a class="nav-link" *ngIf="!_connectbe.loggedIn()" routerLink="/login" routerLinkActive="active" >Login</a>
	  			</li>
	  			<li class="nav-item">
	   				<a class="nav-link" class="active" *ngIf="_connectbe.loggedIn()" routerLink="/index" routerLinkActive="active" (click)="_connectbe.logoutUser()">Logout</a>
	  			</li>
	  			
			</ul>
		</div>
		
	</div>

	<div class="background-img" id="bgImg">
		<img src="assets/image/background.jpg" alt="background image" style="margin-top: 50px;width: 100%;height: 100%">
	</div>
