<div class="top_nav">   
        <div class="top_nav-right">
            <ul class="nav nav-pills ">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/index" routerLinkActive="active">Home</a> 
                </li>
                
                <li class="nav-item">
                    <a class="nav-link"  *ngIf="!_connectbe.loggedIn()"  routerLink="/registration" routerLinkActive="active">Sign Up</a>
                </li>
                
                
                <li class="nav-item">
                    <a class="nav-link" *ngIf="!_connectbe.loggedIn()" routerLink="/loginPatient" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  *ngIf="_connectbe.loggedIn()" class="active" routerLink="/index"  routerLinkActive="active" (click)="_connectbe.logoutUser()">Logout</a>
                </li>
                
            </ul>
        </div>
    </div>


    <div class="sidenav">

        <ul  class="nav nav-pills nav-stacked">
            <li><a  routerLink="/createAppointment" routerLinkActive="active">Create An Appointment</a></li>
            
            
           
        </ul>
                
    </div>

<div class="background-img" id="bgImg">
        <img src="assets/image/background.jpg" alt="background image" style="margin-left: 220px;margin-top:55px;width: 1060px; height: 554px;">
    </div>